body{
    background: url("../img/top-view-circular-food-frame.jpg") no-repeat center fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
    font-size: 145px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    font-size: 40px;
}
.mim a{
    text-decoration: none;
    display: inline-block;
    padding: 10px  35px;
    font-size:25px;
    background-color:rgba(228, 34, 34, 0.7);
    border-radius: 20px;
    color:white;
}
ul{
    list-style: none;
    overflow: hidden;
}
li{
    text-decoration: none;
    padding: 10px  35px;
    float: left;
    font-size:40px;
    color: white;
}
.ri{
    text-decoration: none;
    padding: 10px  35px;
    font-size:40px;
    float: right;
}
.he a{
    text-decoration: none;
    display: inline-block;
    font-size:40px;
    color: white;
    font-weight: 100;
}
.fl{
    float: left;
    font-size: 30px;
    color: black;
}
.fr{
    float: right;
    font-size: 30px;
    color: black;
}